table(cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#159b2c" style="background-color: #159b2c; border-collapse:collapse").container: tbody
  tr
    td(valign="top" style="line-height: 0; font-size: 0;")
      table(cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse:collapse"): tbody
        tr
          td(valign="top" colspan="2" style="line-height: 0; font-size: 0;"): +img('image_03.png')
        tr
          td(valign="top" style="line-height: 0; font-size: 0;")
            table(cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse:collapse"): tbody
              tr
                td(valign="top" style="line-height: 0; font-size: 0;")
                  +link('Suboi', 'http://www.yomost.com.vn/'): +img('image_07-1.png')
              tr
                td(valign="top" style="line-height: 0; font-size: 0;")
                  +link('Suboi', 'http://www.yomost.com.vn/'): +img('image_07-3.png')
          td(valign="top" style="line-height: 0; font-size: 0;")
            +link('Suboi', 'http://www.yomost.com.vn/'): +img('image_07-2.png')
    td(valign="top" style="line-height: 0; font-size: 0;")
      +img('image_04.png')
    td(valign="top" style="line-height: 0; font-size: 0;")
      table(cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse:collapse"): tbody
        tr
          td(valign="top" style="line-height: 0; font-size: 0;"): +img('image_05.png')
        tr
          td(valign="top" style="line-height: 0; font-size: 0;")
            +link('Video', 'http://www.yomost.com.vn/'): +img('image_08.png')
