table(cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#159b2c" style="background-color: #159b2c; border-collapse:collapse; width: 100%;").container: tbody
  tr
    td(valign="top")
      +img('image_22.png')(style="width:100%;")
    td(valign="top" style="line-height: 0; font-size: 0;")
      +link('Yomost', 'http://www.yomost.com.vn/'): +img('image_23.png')(style="width:100%;")
    td(valign="top")
      +img('image_24.png')(style="width:100%;")
