table(cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#159b2c" style="background-color: #159b2c; border-collapse:collapse").container: tbody
  tr
    td(valign="top" colspan="12" style="line-height: 0; font-size: 0;")
      +img('image_09.png')
  tr
    td(valign="top" style="line-height: 0; font-size: 0;" width="16")
      +img('image_10.png')
    td(valign="top" style="line-height: 0; font-size: 0;" width="74")
      +link('An Nguy', 'https://www.facebook.com/an.nguy.31/videos/1346796588729931/'): +img('image_11.png')
    td(valign="top" style="line-height: 0; font-size: 0;" width="74")
      +link('Giang Hoàng', 'https://www.facebook.com/photo.php?fbid=10154369333851409&set=a.342496996408.160546.644756408&type=3'): +img('image_12.png')
    td(valign="top" style="line-height: 0; font-size: 0;" width="74")
      +link('Phở', 'https://www.facebook.com/tobuuphat/videos/1112213218888776/'): +img('image_13.png')
    td(valign="top" style="line-height: 0; font-size: 0;" width="74")
      +link('Thỏ Bảy Màu', 'https://www.facebook.com/ThoBayMau/photos/a.932969840046994.1073741828.932903660053612/1490360410974598/?type=3&theater'): +img('image_14.png')
    td(valign="top" style="line-height: 0; font-size: 0;" width="74")
      +link('Việt Max', 'https://www.facebook.com/vietmax/posts/10210176035770826'): +img('image_15.png')
    td(valign="top" style="line-height: 0; font-size: 0;" width="74")
      +link('Thăng Fly', 'https://www.facebook.com/thangfly/photos/a.582020568534145.1073741852.530229647046571/1293652664037595/?type=3&theater'): +img('image_16.png')
    td(valign="top" style="line-height: 0; font-size: 0;" width="74")
      +link('Bút Chì', 'https://www.facebook.com/butchi13/posts/1392047634152141'): +img('image_17.png')
    td(valign="top" style="line-height: 0; font-size: 0;" width="74")
      +link('Đu Đồ Đút', 'https://www.facebook.com/dudodut/videos/1311235158995445/'): +img('image_18.png')
    td(valign="top" style="line-height: 0; font-size: 0;" width="74")
      +link('Min', 'http://www.yomost.com.vn/'): +img('image_19.png')
    td(valign="top" style="line-height: 0; font-size: 0;" width="74")
      +link('Duy Khánh', 'http://www.yomost.com.vn/'): +img('image_20.png')
    td(valign="top" style="line-height: 0; font-size: 0;" width="14")
      +img('image_21.png')
