table(border="0" cellpadding="0" cellspacing="0" width="850"  align="center" bgcolor="#159b2c" style="width: 850px;" class="container" ): tbody
  tr
    td(valign="top"): +img('image-1_01.png')(style="display:block;")
    td(valign="top" style="line-height: 0; font-size: 0;")
      +link('Yomost', 'http://www.yomost.com.vn/'): +img('image-1_02.png')(style="display:block;")
    td(valign="top"): +img('image-1_03.png')(style="display:block;")
    td(valign="top"): +img('image-1_04.png')(style="display:block;")
  tr
    td(valign="top" colspan="4"): +img('image-2.png')(style="display:block;")

