extends layouts/layout
block variables

block container
  table(cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#159b2c" width="850" style="width: 850px; background-color: #159b2c;").container: tbody
    td(valign="top"): +img('image_01.png')(width="40")
    td(valign="top")
      include blocks/block-1
      include blocks/block-2
      include blocks/block-3
    td(valign="top"): +img('image_02.png')(width="40")

