mixin img(src, alt)
  //- - imagePath = "http://smfe.github.io/talisman/images/"
  - if (typeof(src) === 'undefined') src = "transparent.png"
  - if (typeof(alt) === 'undefined') alt = ""
  img(src="#{imagePath}#{src}", alt="#{alt}", align="left" style="display:block;")&attributes(attributes)
