mixin text(title, textObj)
  table(cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#ffffff" style="width: 600px; background-color: #fff;").container: tbody
    tr
      td(valign="top" style="padding: 0 30px;")
        table(cellspacing="0", cellpadding="0", border="0", align="center" style="width: 100%;"): tbody
          tr: td(valign="top" style="padding-top: 25px;")
              p(style="margin: 0; font-family: \'RenaultLife-Regular\', Helvetica, Arial, sans-serif; font-size: 30px; color: #5f3817; line-height: 30px;")!= title
          tr: td(valign="top" style="padding-top: 27px;")
            each textVal in textObj
              p(style="margin: 0; font-family: \'RenaultLife-Regular\', Helvetica, Arial, sans-serif; font-size: 15px; color: #5f3817; line-height: 21px; text-align: justify;")!= textVal

          tr: td(valign="top" style="padding: 27px 0 30px;")
            +link("Discover")(style="display: block;")
              +img("Discover", "button.png")(border="0" style="display: inline-block; border: none; width: 113px; height: 40px;")
