include ../mixins/all
block variables
doctype transitional
- imagePath = "https://bytebucket.org/nganngan/findsoft-tlpn.newsletter/raw/64d79df9b13e2b2c0cf6ffd84b8b4cb8b3fdc84e/source/assets/images/"
- fontPath = "http://smfe.github.io/talisman/fonts/"
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title Newsletter
    include ../styles/reset
    //-include ../styles/mobile

  body(style="margin: 0; padding: 0;")
    include ../blocks/header
    block container
