style(type="text/css").
  @font-face {
    font-family: 'RenaultLife-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('#{fontPath}RenaultLife-Regular.eot');
    src: url('#{fontPath}RenaultLife-Regular.eot?#iefix') format('embedded-opentype'), url('#{fontPath}RenaultLife-Regular.woff') format('woff'), url('#{fontPath}RenaultLife-Regular.ttf') format('truetype'), url('#{fontPath}RenaultLife-Regular.svg#RenaultLife-Regular') format('svg');
  }
  @font-face {
    font-family: 'RenaultLife-Bold';
    font-weight: normal;
    font-style: normal;
    src: url('#{fontPath}RenaultLife-Bold.eot');
    src: url('#{fontPath}RenaultLife-Bold.eot?#iefix') format('embedded-opentype'), url('#{fontPath}RenaultLife-Bold.woff') format('woff'), url('#{fontPath}RenaultLife-Bold.ttf') format('truetype'), url('#{fontPath}RenaultLife-Bold.svg#RenaultLife-Bold') format('svg');
  }
